<header class="header">
  <nav>
    <ul>
        <li><a id="logo-a" href="/"><img src="/img/cryptlogo.png"  class="logo"></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/addProduct">addProduct</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/order-history">Order History</a></li>
    </ul>
  </nav>
</header>