<header class="header">
  <nav>
    <ul>
      <div class="nav-container">
        <div class="nav-links">

          <li><a id="logo-a" href="/"><img src="/img/cryptlogo.png"  class="logo"></a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/users">Users</a></li>
          <li><a href="/cart">Cart</a></li>
          <li><a href="/order-history">Order History</a></li>
        </div>
        <div class="nav-logout">
          <li><a href="/logout"><img src="/img/user.png" id="user-img">Logout</a></li>

        </div>
      </div>
    </ul>
  </nav>
</header>