<header class="header">
  <nav>
    <ul>
      <div class="nav-container">
        <div class="nav-links">

          <li><a id="logo-a" href="/"><img src="/img/cryptlogo.png"  class="logo"></a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/addProduct">addProduct</a></li>
          <li><a href="/cart">Cart</a></li>
          <li><a href="/order-history">Order History</a></li>
        </div>
        <div class="nav-logout">
          <a href=""><img src="/img/user.png" id="userimg"></a>
          <li id="username-container"></li>
          <li><a href="/logout">Logout</a></li>
        </div>
      </div>
    </ul>
  </nav>
  <script>
  const cookies = document.cookie
  let k;
  for(let i =0;i<cookies.length;i++){
    if(cookies[i]=='='){
      k=i;
    }
  }
  let curr = cookies.slice(k+1,cookies.length)
  var usernameContainer = document.getElementById('username-container');
  usernameContainer.innerText = curr;

  </script>
</header>