<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/home.css">
  <title>Home</title>
</head>
<body>
    <div class="main-container">
        <%- include('partials/header', { title: 'Home' }) %>
        <div class="content">
            <h2 class="top-coins">Todays Top Coins:</h2>
            <table>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Symbol</th>
                  <th>Price</th>
                  <th>24/hr Change</th>
                  <th>24/hr Volume</th>
                </tr>
                <tr>
                  <td id="btc-img"></td>
                  <td>Bitcoin</td>
                  <td id="btc-sym"></td>
                  <td id="btc-rate"></td>
                  <td id="btc-change"></td>
                  <td id="btc-vol"></td>
                </tr>
                <tr>
                  <td id="eth-img"></td>
                  <td>Ethereum</td>
                  <td id="eth-sym"></td>
                  <td id="eth-rate"></td>
                  <td id="eth-change"></td>
                  <td id="eth-vol"></td>
                </tr>
                <tr>
                  <td id="doge-img"></td>
                  <td>Doge</td>
                  <td id="doge-sym"></td>
                  <td id="doge-rate"></td>
                  <td id="doge-change"></td>
                  <td id="doge-vol"></td>
                </tr>
                <tr>
                  <td id="sol-img"></td>
                  <td>Solana</td>
                  <td id="sol-sym"></td>
                  <td id="sol-rate"></td>
                  <td id="sol-change"></td>
                  <td id="sol-vol"></td>
                </tr>
                <tr>
                  <td id="bnb-img"></td>
                  <td>Binance Coin</td>
                  <td id="bnb-sym"></td>
                  <td id="bnb-rate"></td>
                  <td id="bnb-change"></td>
                  <td id="bnb-vol"></td>
                </tr>
                <tr>
                  <td id="ada-img"></td>
                  <td>Cardano</td>
                  <td id="ada-sym"></td>
                  <td id="ada-rate"></td>
                  <td id="ada-change"></td>
                  <td id="ada-vol"></td>
                </tr>
                <tr>
                  <td id="xrp-img"></td>
                  <td>XRP</td>
                  <td id="xrp-sym"></td>
                  <td id="xrp-rate"></td>
                  <td id="xrp-change"></td>
                  <td id="xrp-vol"></td>
                </tr>
                <tr>
                  <td id="shib-img"></td>
                    <td>Shiba Inu</td>
                    <td id="shib-sym"></td>
                    <td id="shib-rate"></td>
                    <td id="shib-change"></td>
                    <td id="shib-vol"></td>
                  </tr>
                  <tr>
                    <td id="trx-img"></td>
                    <td>TRON</td>
                    <td id="trx-sym"></td>
                    <td id="trx-rate"></td>
                    <td id="trx-change"></td>
                    <td id="trx-vol"></td>
                  </tr>
                  <tr>
                    <td id="xlm-img"></td>
                    <td>Stellar</td>
                    <td id="xlm-sym"></td>
                    <td id="xlm-rate"></td>
                    <td id="xlm-change"></td>
                    <td id="xlm-vol"></td>
                  </tr>
              </table>
              
              <%if(ifAdmin){%>
              <form onsubmit="createTextPost()">
                <div class="fb-head">
                  <h4>Create a Facebook post</h4><img src="img/icons8-facebook-50.png" alt="">
                </div>
                <textarea  id="fb-msg" cols="30" rows="10" placeholder="Enter post text here..." required autocomplete="off"></textarea>
                <button>POST</button>
              </form>
              <%}%>
              <div class="video-container">
                <video controls autoplay loop id="video">
                  <source src="img/mixkit-stack-of-bitcoins-rotating-30641-medium.mp4"  type="video/mp4">
                </video>
              </div>
        </div>
        <%- include('partials/footer') %>
    </div>


 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>  
    <script src="js/home.js"></script>
    
</body>

</html>
