<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/signup.css">
    <title><%= title %></title>
</head>
<body>
    <div class="container">
        <% if (isuser) { %>
            <h3>User <%=username%> already exists.</h3>
        <% } %>

        <% if (!isSingleWord) { %>
            <h3>Username must be one word.</h3>
        <% } %>

        <form action="/signup" method="POST">
            <h2 style="text-align: center;">Sign Up Page</h2> 

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" autocomplete="off" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" autocomplete="off" required>

            <button type="submit">Sign Up</button>
        </form>
        <p style="text-align: center; margin-top: 10px;">Already have an account? <a href="./login">Log in</a></p>
    </div>
</body>
</html>
