<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/styles.css">
    <title><%= title %></title>
</head>
<body>
    <% if (isuser) { %>
        <h3>User <%=username%> already exists.</h3>
    <% } %>

            <form action="/signup" method="POST">
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" autocomplete="off" required><br>
          
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" autocomplete="off" required><br>
              <button type="submit">signup</button>
            </form>

</body>
</html>


