#map{
    margin: auto;
    margin-top: 4rem;
    height: 300px;
    width: 60%;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    font-size: larger;
    border: 3px solid gray;
    /* background-image:url('/img/pexels-worldspectrum-844124.jpg') ;
    background-size: cover; */
    /* border-radius: 10px;
    overflow: hidden; */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;

}

th {
    background-color: #f2f2f2;
}
td{
    color: black;
}
tr{
    background-color: turquoise;

}
tr:hover {
    background-color: cornflowerblue;
}
.welcome-title{
    text-align: left;
    text-transform: capitalize;
    margin-top: 0;
    font-family:cursive;
    font-size: 2rem;
    color:turquoise;
}
.top-coins{
    text-align: center;
    text-decoration: underline;
    color: white;
}

#btc-change{
    text-align: center;
}
#eth-change{
    text-align: center;
}
#dog-change{
    text-align: center;
}
#sol-change{
    text-align: center;
}
#bnb-change{
    text-align: center;
}
#ada-change{
    text-align: center;
}
#xrp-change{
    text-align: center;
}