@font-face {
    font-family: 'FB-font';
    src: url('/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
  }
  


table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    font-size: larger;
    border: 3px solid gray;
    /* background-image:url('/img/pexels-worldspectrum-844124.jpg') ;
    background-size: cover; */
    /* border-radius: 10px;
    overflow: hidden; */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;

}

td{
    /* color: #DDE6ED; */
    text-align: center;
}
td img{
    width: 2rem;
    height: auto;
}
tr{
    background-color: #526D82;
    color:#DDE6ED ;
    
}
tr:hover {
    background-color: #9DB2BF;
    color: #27374D;
}
th {
    background-color: #DDE6ED;
    color: #27374D;
    text-align: center;
}
.top-coins{
    text-align: center;
    text-decoration: underline;
    color:#27374D;
}

#btc-change{
    text-align: center;
}
#eth-change{
    text-align: center;
}
#doge-change{
    text-align: center;
}
#sol-change{
    text-align: center;
}
#bnb-change{
    text-align: center;
}
#ada-change{
    text-align: center;
}
#xrp-change{
    text-align: center;
}
#shib-change{
    text-align: center;
}
#xlm-change{
    text-align: center;
}
#trx-change{
    text-align: center;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 2rem;
  }
  
  .video-container video {
    max-width: 100%;
    max-height: 100%;
  }

  form{
    background-color: #27374D;
    width: 50%;
    height: 150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 10px;
    border-radius: 5px;
  }
  form h4{
    text-decoration: underline;
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 5px;
    color: #DDE6ED;
  }
  #fb-msg{
    height: 60%;
    width: 80%;
    margin-bottom: 5px;
    font-family: 'FB-font',cursive;
  }
  form button{
    cursor: pointer;
  }
  .fb-head{
    display: flex;
    align-items: center;
  }
  .fb-head img{
    width: 1.4rem;
    height: auto;
    margin-left: 5px;
  }

  .fb-modal{
    position: fixed;
    height: 20%;
    width: 30%;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #DDE6ED;
    border-radius: 8px;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #27374D;
    display: none;

  }
