

.content {
    
    color: #27374D;
    text-align: center;
}

h1{
  text-decoration: underline;
}
.total-amount{
    font-size: larger;
    font-weight: bold;
}
  

.order-table {
    width: 60%;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 20px;
    border: 3px solid #DDE6ED;
  }
  
  .order-table th,
  .order-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .order-table th {
    background-color: gray;
  }
  
  
  
  .total-amount {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .line{
    background-color: #DDE6ED;
    width: 60%;
    height: 5px;
    margin: auto;
  }