
table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    border: gray 3px solid;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  tr{
    background-color: turquoise;
  }
  input[type="number"]{
    width: 2rem;
  }
  #add{
  width: 15px;
  cursor: pointer;
  height: auto;
  }
  #info{
  width: 15px;
  height: auto;
  }
  #delete{
    width: 15px;
  height: auto;
  cursor: pointer;
  }
  #edit{
    width: 15px;
    height: auto;
    cursor: pointer;
  }

  #addModal{
    position: fixed;
    height: 20%;
    width: 30%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    border: 4px solid mediumblue;
  }



  #search-results{
    color: white;
  }

  label{
    color: white;
  }

  #new-change{
    width: 80%;
  }
  #new-volume{
    width: 80%;
  }
  #new-price{
    width: 120px;
  }
  #new-coin-row{
    display: none;
  }
  

  
