.content{
    color:white
}
.chart-container{
    display: flex;
    align-self: center;
    width: 30%;
    justify-content: space-between;
}
canvas{
    background-color: white;
    border: gray 5px solid;
    margin: 10px;
}
#back-button img{
    height: auto;
    width: 2rem;
    cursor: pointer;
}


  