
table {
    border-collapse: collapse;
    width: 100%;
    background-color: turquoise;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  input[type="number"]{
    width: 2rem;
  }
  #add{
  width: 15px;
  cursor: pointer;
  height: auto;
  }
  #info{
  width: 15px;
  height: auto;
  }
  #delete{
    width: 15px;
  height: auto;
  cursor: pointer;
  }
  #edit{
    width: 15px;
    height: auto;
    cursor: pointer;
  }
  .save-btn{
    display: none;
  }