html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
    padding: 1rem;
    background-image: url('/img/abstract-futuristic-background-with-3d-design.jpg');
    background-size: cover;
  }
  
  .footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  .header{
    height: 4rem;
    background-color: #f1f1f1;
  }
  
  nav {
    padding: 10px;
  }
  
  ul {
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.4rem;
  }
  
  nav a:hover:not(#logo-a) {
    background-color: #333;
    color: #fff;
  }
  .logo {
    height: auto; 
    width: 3rem;
    /* top: 50%; */
    /* transform: translateY(35%); */
    
  }
  .nav-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .product-item {
    background-color: aqua;
    border: gray 1px solid;
  }
  
  #user-img{
    height: auto;
    width: 1.2rem;
  }
  .nav-logout{
    text-decoration: none;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.4rem;
    #userimg{
      width: 20px;
      height: 20px;
    }
  }
 
  #username-container{
    text-transform: capitalize;
  }