
table {
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    border: gray 3px solid;
    margin-top: 2rem;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-size: 1.5rem;
  }
  
  th {
    background-color:#DDE6ED ;
  }
  tr{
    background-color: #526D82;
  }
  tr:hover{
    background-color:#9DB2BF;
  }
  td{
    color: #DDE6ED;
  }
 
  #deleteUser{
    width: 20px;
  }
td img{
    width: 1.5rem;
    height: auto;
    cursor: pointer;
}
#search-inputuser{
    width: 20%;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 15px;
    border: none;
    padding: 3px;
}
