
table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    border: gray 3px solid;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color:#DDE6ED ;
  }
  tr{
    background-color: #526D82;
  }
  tr:hover{
    background-color:#9DB2BF;
  }
  td{
    color: #DDE6ED;
  }
 
  #deleteUser{
    width: 20px;
  }
td img{
    width: 10px;
    height: auto;
    cursor: pointer;
}